<div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h3>Agregar</h3>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-gropu">
                    <label for="">Codigo de Barras:</label>
                    <input [(ngModel)]="producto.codigo_barras" name="codigo_barras" type="text" class="form-contrl">
                </div>
                <div class="form-gropu">
                    <label for="">Nombre:</label>
                    <input [(ngModel)]="producto.nombre" name="nombre" type="text" class="form-contrl">
                </div>
                <div class="form-gropu">
                    <label for="">Descripcion:</label>
                    <input [(ngModel)]="producto.descripcion" name="descripcion" type="text" class="form-contrl">
                </div>
                <div class="form-gropu">
                    <label for="">Categoria:</label>
                    <input [(ngModel)]="producto.categoria" name="categoria" type="text" class="form-contrl">
                </div>
                <div class="form-gropu">
                    <label for="">id_persona:</label>
                    <input [(ngModel)]="producto.id_persona" name="id_persona" type="text" class="form-contrl">
                </div>
                <div class="form-gropu">
                    <label for="">Precio:</label>
                    <input [(ngModel)]="producto.precio" name="precio" type="text" class="form-contrl">
                </div>
                <div class="form-gropu">
                    <label for="">Stock Minimo:</label>
                    <input [(ngModel)]="producto.stock_minimo" name="stock_minimo" type="text" class="form-contrl">
                </div>
                <button (click)="Guardar()" class="btn btn-danger">Guardar</button>
            </form>
        </div>
    </div>
</div>