<div style="text-align: center;">
  <h1>Ferreteria Ferretic</h1>
</div>
<div class="container">
  <button (click)="Listar()" class="waves-efect waves.light btn" style="margin :10px;">Listar</button>
  <button (click)="Nuevo()"  class="waves-efect waves.light btn">Nuevo </button>
</div>

<router-outlet></router-outlet>