<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Productos{{productos.length}}</h3>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id Producto</th>
                        <th>Codigo de Barras</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Categoria</th>
                        <th>Persona</th>
                        <th>Precio de Venta</th>
                        <th>Stock Mínimo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let producto of productos" class="center">
                        <td>{{producto._id}}</td>
                        <td>{{producto.codigo_barras}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.descripcion}}</td>
                        <td>{{producto.categoria}}</td>
                        <td>{{producto.id_persona}}</td>
                        <td>{{producto.precio}}</td>
                        <td>{{producto.stock_minimo}}</td>
                        <td>
                            <button (click)='Edit(producto)' class="btn btn-warning" style="margin-right :10px;">edit</button>
                            <button (click)='Delete(producto)' class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>